


/* other css file imports */
@import url("sections/header-home.css");
@import url("sections/product.css");
@import url("sections/about.css");
@import url("sections/review.css");

/* CSS variables for reusablity across all files (including above imported) */
:root {
    --first-color: #c72092;
    --second-color: #6c14d0;
    --star: orange;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}