/* ABOUT */

.about {
    width: 100%;
    height: 100vh;
    padding: 2.188em 0;
}

.about h1 {
    font-size: 3.75em;
    margin-top: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.about h1 span {
    background: linear-gradient(to right, var(--first-color), var(--second-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 0.938em;
}

.about__main {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about__main__image {
    display: flex;
    margin-top: 3.125em;
}

.about__main__image-small-image {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0.938em;
}

.about__main__image-small-image img {
    height: 5.75em;
    margin: 0.313em 0;
    cursor: pointer;
    background: linear-gradient(to right, var(--second-color), var(--first-color));
    display: block;
    border-radius: 0.375em;
    padding: 0.313em 0.313em;
    box-shadow: 0,0,0.375em, rgba(0,0,0,0.6);
    opacity: 0.8;
    transition: 0.3s;
}

.about__main__image-small-image img:hover {
    opacity: 1;
}

.about__main__image-container {
    padding: 0.625em;
    display: flex;
}

.about__main__image-container img {
    border: 0.188em solid var(--second-color);
    border-radius: 1.25em;
    height: 31.25em;
    padding: 1.875em;
    box-shadow: 0 0 0.5em var(--second-color);
}

.about__main__text {
    margin-top: 2.813em;
}

.about__main__text p {
    background: linear-gradient(to left, var(--first-color), var(--second-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.375em;
    width: 40.625em;
    text-align: justify;
    padding: 1.563em 1.875em;
    border: 0.125em solid var(--first-color);
    border-radius: 1.25em;
    box-shadow: 0 0 0.5em var(--first-color);
}

.about__main-button {
    color: black;
    background: none;
    position: relative;
    top: 13%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 0.625em 1.563em;
    border: 0.125em solid var(--first-color);
    text-decoration: none;
    box-shadow: 0 0 0.5em var(--first-color);
    transition: 0.5s;
    border-radius: 1.25em;
}

.about__main-button:hover{
    border: 0.125em solid transparent;
    background: var(--first-color);
    color: white;
}