/* FOOTER */

.footer {
    width: 100%;
}

.footer__main {
    width: 100%;
    background: #f3f1f1;
    display: flex;
    justify-content: space-around;
}

.footer__main__tag {
    margin: 0.625em 0;
}

.footer__main__tag-center {
    text-align: center;
}

.footer__main__tag h1 {
    font-size: 1.563em;
    margin: 1.563em;
    color: var(--third-color);
}
.footer__main__tag a {
    display: block;
    color: black;
    margin: 0.563em 0;
}

.footer__main__tag a i {
    padding: 0 0.625em;
    transition: .3;
}

.footer__main__tag a i:hover {
    color: var(--first-color);
}

.footer__main__tag-social-link {
    display: flex;
}

.footer__main__tag-social-link a {
    width: 1.875em;
    height: 1.875em;
    border-radius: 50%;
    text-align: center;
    color: black;
    box-shadow: 0 0 1.25em 0.625em rgba(0,0,0,0.05);
    position: relative;
    margin: 0 0.313em;
    z-index: 0;
    overflow: hidden;
}

.footer__main__tag-social-link a .fa-brands {
    font-size: 0.938em;
    line-height: 1.875em;
    z-index: 10;
    position: relative;
    transition: 0.5s;
}

.footer__main__tag-social-link a:hover i{
    color: white;
}

.footer__main__tag-social-link a::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: -5.625em;
    background: linear-gradient(-45deg, var(--first-color), var(--second-color));
    position: absolute;
    z-index: -10;
    transition: 0.5s;
}

.footer__main__tag-social-link a:hover::after {
    left: 0;
}

.footer__main__tag-search-bar {
    width: 14.375em;
    height: 1.875em;
    background: rgb(228, 223, 223);
    border-radius: 1.563em;
}

.footer__main__tag-search-bar input {
    width: 12.5em;
    padding: 0.125em 0;
    position: relative;
    top: 17%;
    left: 6%;
    border: none;
    background: none;
    outline: none;
    font-size: 0.813em;
}

.footer__main__tag-search-bar button {
    padding: 0.438em 0.938em;
    background: linear-gradient(to right, var(--first-color), var(--second-color));
    border: none;
    margin-top: 0.938em;
    border-radius: 1.563em;
    color: white;
    cursor: pointer;
}