.header-home {
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/bg1.png);
    background-size: cover;
    background-position: center;
}

/* HEADER Sett*/

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header__logo {
    font-size: 35px;
    color: var(--first-color);
    margin: 5px 0;
    cursor: pointer;
    position: relative;
    left: -2%;
}

.header__logo span {
    color: var(--second-color);
    text-decoration: underline;
}

.header__menu li{
    display: inline-block;
    margin: 5px 15px;
}

.header__menu li a {
    color: black;
    transition: 0.2s;
}

.header__menu li a:hover {
    color: var(--first-color);
}

.header__user i {
    margin: 0 4px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.header__user i:hover {
    color: var(--first-color);
}

.header__user i {
    color: black;
}

/* HOME Sett */

.home__main-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home__main-content__main-text h1 {
    font-size: 90px;
    line-height: 70px;
    font-family: pyxidium quick;
    background: linear-gradient(to right, var(--first-color), var(--second-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    top: 45px;
    left: 7%;
}

.home__main-content__main-text h1 span {
    font-size: 70px;
    background: linear-gradient(to right, var(--first-color), var(--second-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home__main-content__main-text p {
    width: 600px;
    text-align: justify;
    line-height: 21px;
    position: relative;
    top: 100px;
    left: 7%;
}

.home__main-content__main-image img {
    width: 650px;
    position: relative;
    left: 20px;
    top: 75px;
}

.home_social-icon {
    position: absolute;
    top: 50%;
    left: 98%;
    transform: translate(-50%,-50%);
    font-size: 20px;
}

.home_social-icon i{
    margin: 8px 0;
    cursor: pointer;
    transition: 0.3s;
}

.home_social-icon i:hover {
    color: var(--first-color);;
}

.home__button {
    position: absolute;
    left: 10.6%;
    padding: 10px 20px;
    border-radius: 30px;
    background: linear-gradient(to right, var(--first-color), var(--second-color));
}

.home__button a {
    color: white;
}

.home__button i {
    color: white;
    margin-left: 5px;
    transition: 0.3s;
}

.home__button:hover i {
    transform: translateX(6px);
}
